{% set total = totalFraisForfait + totalFraisHorsForfait%}
<tr id="{{ utilisateur.id }}" data_id="{{ utilisateur.id }}" data_mois="{{ utilisateur.mois }}">
        <td>{{ utilisateur.prenom }} {{ utilisateur.nom }}</td>
        <td>{{ totalFraisForfait }}</td>
        <td>{{ totalFraisHorsForfait }}</td>
        <td>{{ total }}</td>
</tr>