{% extends "layout.html.twig" %}
{% block entete %}
    {% include "AppView/entete.html.twig" %}
{% endblock %}
{% block contenu %}
    <div class="form-group form-inline w-50">
                <label for="visiteur"> Choisir le Visiteur : </label>
                <select id="lesVisiteurs" name="lesVisiteurs" class="form-control">
                    <option selected disabled>Choisir un Visiteur</option>
                    {% for unVisiteur in lesVisiteurs %}
                        {% if unVisiteur ==  null%}
                            <option value="{{ unVisiteur.id }}">
                                {{unVisiteur.nom}} {{unVisiteur.prenom}}
                            </option>
                        {% else %}
                            <option value="{{ unVisiteur.id }}">
                                {{unVisiteur.nom}} {{unVisiteur.prenom}}
                            </option>
                        {% endif %}
                    {% endfor %}
                </select>
                <label for="lstMois" accesskey="n">Mois : </label>
                <select id="lstMois" name="lstMois" class="form-control">
                    {% for mois in lesMois %}
                        {% if mois ==  moisASelectionner%}
                            <option selected value="{{ mois.mois }}">
                                {{mois.numMois}}/{{mois.numAnnee}}
                            </option>   
                        {% else %}
                            <option selected value="{{ mois.mois }}">
                                {{mois.numMois}}/{{mois.numAnnee}}
                            </option> 
                        {% endif %}
                    {% endfor %}
                </select>
   </div>
    <div class="row">
        <h2 class="orange"> Valider la fiche de frais</h2>
        <h3>Eléments forfaitisés</h3>
        <section id="detailsVisiteur">
        </section>
        {% include "AppView/erreurs.html.twig" %}
        {% include "FraisView/validerlistefraisforfait.html.twig" %}
    </div>
    <script>
        $(document).ready(function () {
        });
        $('#lesVisiteurs').change(function(){
            let visiteur = $('#lesVisiteurs option:selected');
            console.log(visiteur.val());
        })
    </script>
{% endblock %}
