{% extends "layout.html.twig" %}
{% block entete %}
    {% include "AppView/entete.html.twig" %}
{% endblock %}
{% block contenu %}
<h2>Mes fiches de frais</h2>
<div class="row">
    <div class="col-md-4">
        <h3>Sélectionner un mois : </h3>
    </div>
    <div class="col-md-4">
        <form action="/voiretatfrais" 
              method="post" role="form">
            <div class="form-group">
                <label for="lstMois" accesskey="n">Mois : </label>
                <select id="lstMois" name="lstMois" class="form-control">
                    {% for mois in lesMois %}
                        {% if mois ==  moisASelectionner%}
                            <option selected value="{{ mois.mois }}">
                                {{mois.numMois}}/{{mois.numAnnee}}
                            </option>   
                        {% else %}
                            <option selected value="{{ mois.mois }}">
                                {{mois.numMois}}/{{mois.numAnnee}}
                            </option> 
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <input id="ok" type="submit" value="Valider" class="btn btn-success" 
                   role="button">
            <input id="annuler" type="reset" value="Effacer" class="btn btn-danger" 
                   role="button">
        </form>
    </div>
</div>
{% endblock %}
