<hr>
<div class="row">
    <div class="panel panel-orange">
        <div class="panel-heading">Descriptif des éléments hors forfait</div>
        <table class="table table-bordered table-responsive">
            <thead>
            <tr>
                <th class="date">Date</th>
                <th class="libelle">Libellé</th>
                <th class="montant">Montant</th>
                <th class="action">&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            {% set idForm = 1 %}
            {% for unFrais in LesFraisHorsForfait %}
                    <tr>
                        <td><form id="{{ idForm }}"><input type="text" name="idFrais" data_id="{{unFrais.id}}" value="{{unFrais.id}}" hidden/><input type="text" name="dateFrais" value="{{unFrais.date}}" {{ etatFiche != 'VA' ? 'disabled' : '' }}/></form></td>
                        <td><input form="{{ idForm }}" type="text" name="libelle" value="{{unFrais.libelle|e}}" {{ etatFiche != 'VA' ? 'disabled' : '' }}/></td>
                        <td><input form="{{ idForm }}" type="text" name="montant" value="{{unFrais.montant}}" {{ etatFiche != 'VA' ? 'disabled' : '' }}/></td>
                            <td>
                                {% if etatFiche == 'VA' %}
                                <span class="btn btn-success btnCorriger">Corriger</span>
                                <button form="{{ idForm }}" class="btn btn-danger" type="reset">Réinitialiser</button>
                                {% endif %}
                            </td>
                    </tr>
                {% set idForm = idForm + 1 %}
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        <label for="nbJustificatifs">Nombre de justificatifs:</label>
        <input id="nbJustificatifs" type="number" min="1" value="{{ nbJustificatifs }}" {{ etatFiche != 'VA' ? 'disabled' : '' }}>
    </div>
    <br>
    {% if etatFiche == 'VA' %}
    <button class="btn btn-success btnCorriger">Corriger</button>
    <button class="btn btn-danger" type="reset">Réinitialiser</button>
    {% endif %}
</div>
<br>
<script>
    $(document).ready(function() {
    });
    $('.btnCorriger').click(function(){
        enfant = $(this).parent();
        parents = enfant.parent();
        td = parents.children('td');
        input = td.children('input');
        id=input.attr('data_id');
        console.log(id);
        // $.ajax({
        //     url: "/gererfrais/supprimerfrais",
        //     type: 'POST',
        //     data:{'id':id
        //     },
        //     success:function(){
        //         alert('Le frais hors forfait a été supprimé');
        //         window.location.href='/gererfrais';
        //     }
        // });
    });

</script>