<hr>
<div class="row">
    <div class="panel panel-orange">
        <div class="panel-heading">Descriptif des éléments hors forfait</div>
        <table class="table table-bordered table-responsive">
            <thead>
            <tr>
                <th class="date">Date</th>
                <th class="libelle">Libellé</th>
                <th class="montant">Montant</th>
                <th class="action">&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            {% set idForm = 1 %}
            {% for unFrais in LesFraisHorsForfait %}
                    <tr id="lesFraisHF">
                        <td><form id="{{ idForm }}"><input type="text" id="idFraisHF" name="idFrais" data_id="{{unFrais.id}}" hidden/><input type="text" id="dateFraisHF" name="dateFrais" value="{{unFrais.date}}" {{ etatFiche != 'VA' ? 'disabled' : '' }}/></form></td>
                        <td><input form="{{ idForm }}" type="text" id="libelleFraisHF" name="libelle" value="{{unFrais.libelle|e}}" {{ etatFiche != 'VA' ? 'disabled' : '' }}/></td>
                        <td><input form="{{ idForm }}" type="text" id="montant" name="montant" value="{{unFrais.montant}}" {{ etatFiche != 'VA' ? 'disabled' : '' }}/></td>
                        <td>
                            {% if etatFiche == 'VA' %}
                            <span class="btn btn-success btnCorriger">Corriger</span>
                            <button form="{{ idForm }}" class="btn btn-danger" type="reset">Réinitialiser</button>
                            <span class="btn btn-danger btnReporter">Reporter</span>
                            <span class="btn btn-danger btnRefuser">Refuser</span>
                            {% endif %}
                        </td>
                    </tr>
                {% set idForm = idForm + 1 %}
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        <label for="nbJustificatifs">Nombre de justificatifs:</label>
        <input id="nbJustificatifs" type="number" min="1" value="{{ nbJustificatifs }}" {{ etatFiche != 'VA' ? 'disabled' : '' }}>
    </div>
    <br>
    {% if etatFiche == 'VA' %}
    <button class="btn btn-success btnCorriger">Corriger</button>
    <button class="btn btn-danger" type="reset">Réinitialiser</button>
    {% endif %}
</div>
<br>
<script>
    $(document).ready(function() {
    });
    $('.btnCorriger').click(function(){
        enfant = $(this).parent();
        parents = enfant.parent();
        td = parents.children('td');
        inputId = td.find('#idFraisHF');
        inputDate = td.find('#dateFraisHF');
        inputLibelle = td.find('#libelleFraisHF');
        inputMontant = td.find('#montant');
        id=inputId.attr('data_id');
        date= inputDate.val()!='' ? inputDate.val() : inputDate.attr('value');
        libelle= inputLibelle.val()!='' ? inputLibelle.val() : inputLibelle.attr('value');
        montant = inputMontant.val()!='' ? inputMontant.val() : inputMontant.attr('value');
        leMois = $('#lstMois option:selected').val();
        let objFraisHF = {};
        objFraisHF['date']=date;
        objFraisHF['libelle']=libelle;
        objFraisHF['montant']=montant;
        jsonlesFraisHF= JSON.stringify(objFraisHF);
        let detailsFrais = $('#detailsFrais').children('div');
        $.ajax({
            url: "/corrigerfraishorsforfait",
            type: 'POST',
            data:{'idFrais':id,
                'mois':leMois,
                'tabFraisHF':jsonlesFraisHF
            },
            success:function(result){
                alert('les modifications ont bien été prises en compte');
            }
        });
    });
</script>